# Unity ignores
/Library/
/Logs/
/Temp/
/obj/
/QCAR/
/.vs/
/.idea/
/*.sln
/*.csproj
/*.csproj.user
/*.unityproj
/*.userprefs
/NativePlugins/
/Assets/0_GITIgnore/
/Assets/0_GITIgnore.meta
/Assets/AI_Tools/
/Assets/AI_Tools.meta
/Assets/Models/
/Assets/Models.meta
/Assets/Plugins/Editor/JetBrains/
/Assets/Plugins/Editor/JetBrains.meta
/Assets/Plugins/Editor.meta
/Assets/Plugins/Sirenix/
/Assets/Plugins/Sirenix.meta
/Assets/Editor/AICommand/
/Assets/Editor/AICommand.meta
/Assets/Editor/Logs/
/Assets/Editor/Logs.meta
/Assets/Scripts/EasyCardGame/
/Assets/Scripts/EasyCardGame.meta
/Assets/Scripts/Core/Effects/
/Assets/Scripts/Core/Effects.meta
/Assets/Scripts/Core/ChatBot/
/Assets/Scripts/Core/ChatBot.meta
/Assets/Samples/
/Assets/Samples.meta
/UserSettings/
COMPS
COMPS.meta
*.mdb
*.mdb.meta